@charset "UTF-8";

:root {
    --cor0: black;

}


* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #353535;
    
}

body img {
    width: 100%;
    display: block;
}



header > h1 {
    background-color: #353535;
    color: white;
    text-align: center;
    min-height: 100px;
    padding-top: 20px;
    font-family: Verdana;
    font-size: 50px;
}

nav {
    padding: 20px 10px 10px 10px ;
    background-color: #353535;
    
}

nav > a {
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

nav > a:hover {
    background-color: #1d1c1c;

}

main {
    
    margin: auto;
    padding: 20px;
    background-color: white;
    text-align: justify;
}

main p {
    margin: 15px 0px;
    text-align: center;
    text-indent: 30px;
    font-size: 1em;
    
}

main h2 {
    background-color: black;
    margin: auto;
    text-align: auto;
}

div.sobre p {
    font-size: 25px;
}

div.sobre li {
    font-size: 20px;
}

div.quadrado {

    
    border: 2px solid black;
    border-radius: 5px;
    height: 300px;
    margin: 10px;
    text-align: center;
    color: white;

}

div.quadrado p {
    
    margin: 100px;
    font-weight: bolder;

}


div#q1 {
    background-image: url(direito\ civil.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    
}

div#q2 {
    background-image: url(direito\ da\ familia.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

div#q3 {
    background-image: url(DireitoPenal.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.contato {
    background-color: #353535;
    padding: 30px;
    color: white;
    border-radius: 10px;
    max-width: 100%;
}

    
footer {
    background-color: #35353598;
    color: white;
    text-align: center;
    font-weight: bold;
}